exclude: "build|.git/|.tox|dist|octue.egg-info"
default_stages: [commit]
fail_fast: false
default_language_version:
  python: python3 # force all unspecified python hooks to run python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        name: Ruff lint
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff
        name: Ruff isort
        args: [check, --select, I, --fix]

      - id: ruff-format
        name: Ruff format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: https://github.com/windpioneers/pre-commit-hooks
    rev: 0.0.5
    hooks:
      - id: check-branch-name
        args:
          - "^main$"
          - "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$"

  - repo: https://github.com/octue/conventional-commits
    rev: 0.9.0
    hooks:
      - id: check-commit-message-is-conventional
        stages: [commit-msg]
