[tool.poetry]
name = "octue"
version = "0.40.0"
description = "A package providing template applications for data services, and a python SDK to the Octue API."
readme = "README.md"
authors = ["Marcus Lugg <cortado.codes@protonmail.com>", "Thomas Clark <support@octue.com>"]
license = "MIT"
repository = "https://www.github.com/octue/octue-sdk-python"
packages = [{ include = "octue"}]
keywords = ["digital", "twins", "twined", "data", "services", "science", "api", "apps", "ml"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = "^3.7.1"
click = ">=7,<9"
coolname = "^1.1"
Flask = "2.0.3"
google-auth = ">=1.27.0,<3"
google-cloud-pubsub = "^2.5"
google-cloud-secret-manager = "^2.3"
google-cloud-storage = ">=1.35.1, <3"
google-crc32c = "^1.1"
gunicorn = "^20.1"
python-dateutil = "^2.8"
pyyaml = "^6"
h5py = { version = "^3.6", optional = true }
apache-beam = { version = "^2.37", optional = true }
twined = "^0.5.1"
packaging = ">=20.4,<22"
# The following dependencies are from apache-beam[gcp]. They're provided here to a) avoid dependency resolution problems
# and b) to reduce our total number of dependencies (we only need a small number of the dependencies the "gcp" extra
# provides). Update these if you update apache-beam. See https://github.com/apache/beam/issues/21019 and
# https://github.com/octue/octue-sdk-python/issues/492.
cachetools = { version = ">=3.1.0,<5", optional = true }
google-apitools = { version = ">=0.5.31,<0.5.32", optional = true }
google-auth-httplib2 = { version = ">=0.1.0,<0.2.0", optional = true }
google-cloud-datastore = { version = ">=1.8.0,<2", optional = true }

[tool.poetry.extras]
hdf5 = ["h5py"]
dataflow = ["apache-beam", "cachetools", "google-apitools", "google-auth-httplib2", "google-cloud-datastore"]

[tool.poetry.scripts]
octue = "octue.cli:octue_cli"

[tool.poetry.dev-dependencies]
# Testing
gcp-storage-emulator = "2022.06.11"
pytest = "^7"
tox = "^3.23"
# Code quality
flake8 = "3.9.2"
black = "22.6.0"
pre-commit = "^2.17"
coverage = "^5"
# Template app dependencies
numpy = "1.21.0"
dateparser = "1.1.1"
stringcase = "1.2.0"
pandas = "^1.3"
# Documentation
Sphinx = ">=4,<5"
sphinx-rtd-theme = ">=1,<2"
sphinx-tabs = ">=3,<4"
sphinx-toolbox = "3.0.0"
isort = "5.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
