[tool.poetry]
name = "octue"
version = "0.55.0"
description = "A package providing template applications for data services, and a python SDK to the Octue API."
readme = "README.md"
authors = ["Marcus Lugg <marcus@octue.com>", "Thomas Clark <support@octue.com>"]
license = "MIT"
repository = "https://www.github.com/octue/octue-sdk-python"
packages = [{ include = "octue"}]
keywords = ["digital", "twins", "twined", "data", "services", "science", "api", "apps", "ml"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = "^3.8"
click = ">=7,<9"
coolname = "^2"
Flask = "^2"
google-auth = ">=1.27.0,<3"
google-cloud-pubsub = "^2.5"
google-cloud-secret-manager = "^2.3"
google-cloud-storage = ">=1.35.1, <3"
google-crc32c = "^1.1"
gunicorn = "^22"
python-dateutil = "^2.8"
pyyaml = "^6"
h5py = { version = "^3.6", optional = true }
twined = "0.5.5"
packaging = ">=20.4"
google-cloud-bigquery = { version = "^3.18.0", optional = true }
db-dtypes = { version = "^1.2.0", optional = true }

[tool.poetry.extras]
hdf5 = ["h5py"]
bigquery = ["google-cloud-bigquery", "db-dtypes"]

[tool.poetry.scripts]
octue = "octue.cli:octue_cli"

[tool.poetry.group.dev.dependencies]
# Testing
gcp-storage-emulator = "2022.06.11"
pytest = "^7"
tox = "^3.23"
# Code quality
flake8 = "3.9.2"
black = "24.4.2"
pre-commit = "^2.17"
coverage = "^5"
# Template app dependencies
numpy = "^1"
dateparser = "1.1.1"
stringcase = "1.2.0"
pandas = "^1.3"
# Documentation
Sphinx = ">=4,<5"
sphinx-rtd-theme = ">=1,<2"
sphinx-tabs = ">=3,<4"
sphinx-toolbox = "3.0.0"
isort = "5.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
