
# Testing
# ------------------------------------------------------------------------------
tox
pluggy
gcp-storage-emulator>=2021.2.17

# Code quality
# ------------------------------------------------------------------------------
flake8==3.8.3  # https://github.com/PyCQA/flake8
flake8-isort==3.0.0  # https://github.com/gforcada/flake8-isort
black==19.10b0  # https://github.com/ambv/black
pre-commit  # https://github.com/pre-commit/pre-commit
coverage==5.0.2

# Pre-deploy checks
# ------------------------------------------------------------------------------
setuptools
wheel
twine  # <---- nothing to do with the twined library!


# Building documentation
# ------------------------------------------------------------------------------
-r docs/requirements.txt


# Template App Dependencies
#   (Used in template apps but not necessarily dependencies of the library)
# ------------------------------------------------------------------------------

numpy==1.19.2
dateparser==1.0.0
pandas==1.1.4
stringcase==1.2.0

# Current library
#    Installs any dependencies in setup.py
# ------------------------------------------------------------------------------
-e .
