octue==0.50.1

# A numerical manipulation library
numpy==1.21.0

# A library for operating on tabulated data
pandas

# An incredibly powerful date parsing utility
dateparser==1.1.1

# A utility library for converting text cases; useful for cleaning up column names and such
stringcase==1.2.0
